<h3 class="text-center">Cadastrar Produto</h3>
<div class="form-group">

  <label for="campo-nome">Nome</label>
  <input type="text" class="form-control" [(ngModel)]="produto.nome">
</div>

<div class="row">
  <div class="col-6">
    <label for="campo-categoria">Categoria</label>
    <ng-select [items]="categorias" bindLabel="nome" bindValue="id" placeholder="Selecione" [(ngModel)]="produto.categoriaId"
      (open)="obterTodosCategoria()" (change)="selecionadoCategoria($event)">
    </ng-select>
  </div>
  <div class="col-6">
    <div class="form-group">

      <label for="campo-empresa">Empresa</label>
      <ng-select [items]="empresas" bindLabel="nome" bindValue="id" placeholder="Selecione" [(ngModel)]="produto.empresaId"
        (open)="obterTodosEmpresa()" (change)="selecionadoEmpresa($event)">
      </ng-select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="campo-valor-custo">Valor Custo</label>
      <input type="number" class="form-control" [(ngModel)]="produto.valorCusto">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="campo-valor-venda">Valor Venda</label>
      <input type="number" class="form-control" [(ngModel)]="produto.valorVenda">
    </div>
  </div>
</div>

<div class="form-group">
  <label for="campo-descricao">Descrição</label>
  <textarea class="form-control" [(ngModel)]="produto.descricao"></textarea>
</div>

<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label for="campo-peso">Peso</label>
      <input type="number" class="form-control" [(ngModel)]="produto.peso">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="campo-altura">Altura</label>
      <input type="number" class="form-control" [(ngModel)]="produto.altura">
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <label for="campo-largura">Largura</label>
      <input type="number" class="form-control" [(ngModel)]="produto.largura">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="campo-comprimento">Comprimento</label>
      <input type="number" class="form-control" [(ngModel)]="produto.comprimento">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group ">
      <label for="arquivo">Imagens</label>
      <form method="post" enctype="multipart/form-data" asp-controller="produto" asp-action="Upload">
        <div class="custom-file">
          <input type="file" id="arquivo" name="arquivo" class="custom-file-input"  [(ngModel)]="imagemProduto.nomeArquivo">
          <label for="arquivo" class="custom-file-label">Arquivo</label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row pull-right">
<button class="btn btn-raised btn-danger pull-right icon-close mr-2" (click)="cancelar()"> Cancelar</button>
<button class="btn btn-raised btn-success pull-right ft-save" (click)="salvar()"> Salvar</button>
</div>
