<h3 class="text-center">Cadastrar Produto</h3>
<div class="form-group">

  <label for="campo-nome">Nome<small class="text-danger"> *</small></label>
  <input type="text" class="form-control" [(ngModel)]="produto.nome">
</div>

<div class="row">
  <div class="col-6">
    <label for="campo-categoria">Categoria<small class="text-danger"> *</small></label>
    <ng-select [items]="categorias" bindLabel="nome" bindValue="id" placeholder="Selecione"
      [(ngModel)]="produto.categoriaId" (open)="obterTodosCategoria()" (change)="selecionadoCategoria($event)">
    </ng-select>
  </div>
  <div class="col-6">
    <div class="form-group">

      <label for="campo-empresa">Empresa<small class="text-danger"> *</small></label>
      <ng-select [items]="empresas" bindLabel="nome" bindValue="id" placeholder="Selecione"
        [(ngModel)]="produto.empresaId" (open)="obterTodosEmpresa()" (change)="selecionadoEmpresa($event)">
      </ng-select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="campo-valor-custo">Valor Custo<small class="text-danger"> *</small></label>
      <input type="number" class="form-control" [(ngModel)]="produto.valorCusto">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="campo-valor-venda">Valor Venda<small class="text-danger"> *</small></label>
      <input type="number" class="form-control" [(ngModel)]="produto.valorVenda">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-4">
    <div class="form-group">
      <label for="campo-peso">Peso (g)<small class="text-danger"> *</small></label>
      <input type="number" class="form-control" [(ngModel)]="produto.peso">
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">
      <label for="campo-altura">Altura (cm)<small class="text-danger"> *</small></label>
      <input type="number" class="form-control" [(ngModel)]="produto.altura">
    </div>
  </div>

  <div class="col-4">
    <div class="form-group">
      <label for="campo-largura">Largura (cm)<small class="text-danger"> *</small></label>
      <input type="number" class="form-control" [(ngModel)]="produto.largura">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <label for="campo-comprimento">Comprimento (cm)<small class="text-danger"> *</small></label>
      <input type="number" class="form-control" [(ngModel)]="produto.comprimento">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group ">
      <label for="arquivo">Imagens<small class="text-danger"> *</small></label>
      <div class="custom-file">
        <input type="file" id="arquivo" name="arquivo" class="custom-file-input" (change)="onFileChange($event)"
          [(ngModel)]="produto.nomeArquivo">
        <label for="arquivo" class="custom-file-label">{{produto.nomeArquivo}}</label>
      </div>
    </div>
    <!-- <div class="col-6 custom-file">
        <input type="file" id="arquivo" name="arquivo" class="custom-file-input" (change)="onFileChange($event)" [(ngModel)]="produto.nomeArquivo">
      </div> -->
  </div>
</div>
<div class="form-group">
  <label for="campo-descricao">Descrição<small class="text-danger"> *</small></label>
  <textarea class="form-control" [(ngModel)]="produto.descricao"></textarea>
</div>

<div class="row pull-right">
  <button class="btn btn-raised btn-danger pull-right icon-close mr-2" (click)="cancelar()"> Cancelar</button>
  <button class="btn btn-raised btn-success pull-right ft-save" (click)="salvar()"> Salvar</button>
</div>