<div class="container-fluid">
  <div class="col-12">
    <h3 class="text-center">Cadastrar Empresa</h3>
    <div class="form-group">
        <div class="form-group">
            <label for="campo-nomeEmpresaCadastro">Nome Fantasia<small class="text-danger"> *</small></label>
            <input type="text" id="campo-nomeEmpresaCadastro" class="form-control" placeholder="Informe o nome fantasia da empresa" required [(ngModel)]="empresa.nome" name="nome" >
        </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label for="campo-cnpj">CNPJ<small class="text-danger"> *</small></label>
        <input type="text" id="campo-cnpj" placeholder="Informe o CNPJ da empresa" class="form-control" required [(ngModel)]="empresa.cnpj" name="cnpj">
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="campo-contato">Contato <small class="danger">*</small></label>
          <input type="text" id="campo-contato" placeholder="Informe o telefone de contato da empresa" class="form-control" [(ngModel)]="empresa.telefone" name="contato" required>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="campo-ramo">Ramo <small class="danger">*</small></label>
          <input type="text" id="campo-ramo" placeholder="Informe o ramo de atuação da empresa" class="form-control" [(ngModel)]="empresa.ramo" name="ramo" required>
        </div>
      </div>

      <div class="col-1">
        <div class="form-group">
          <label for="campo-id-usuario">id usuario</label>
          <input type="number" class="form-control" [(ngModel)]="empresa.usuarioId">
        </div>
      </div>
    </div>

<div class="row pull-right">
<button class="btn btn-raised btn-danger pull-right icon-close mr-2" (click)="cancelar()">Cancelar</button>
<button class="btn btn-raised btn-success pull-right ft-save" (click)="salvar()">Salvar</button>
</div>