<a routerLink="/estoque/cadastro" class="btn btn-raised btn-primary icon-plus pull-right"> Cadastro de Estoque</a>

<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <td>Código</td>
        <td>Empresa</td>
        <td>Produto</td>
        <td>Entrada/Saida</td>
        <td>Quantidade</td>
        <td>Data Entrada</td>
        <td>Ação</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estoque of estoques">
        <td>{{estoque.id}}</td>
        <td>{{estoque.empresaId}}</td>
        <td>{{estoque.produtoId}}</td>
        <td>{{estoque.entrada}}</td>
        <td>{{estoque.quantidade}}</td>
        <td>{{estoque.dataEntrada}}</td>
        <td>
          <button class="btn btn-raised btn-primary mr-2 icon-pencil" routerLink="/estoque/editar/{{estoque.id}}"> Editar</button>
          <button class="btn btn-raised btn-danger icon-trash" 
          (click)="apagar(estoque.id)"> Apagar</button>
        </td>
      </tr>
    </tbody>
  </table>

  