<a routerLink="/categoria/cadastro" class="btn btn-raised btn-primary icon-plus pull-right"> Nova Categoria</a>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <td>Código</td>
      <td>Nome</td>
      <td>Ação</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <td>{{categoria.id}}</td>
      <td>{{categoria.nome}}</td>
      <td>
        <button class="btn btn-raised btn-primary mr-2 icon-pencil" routerLink="/categoria/editar/{{categoria.id}}"> Editar</button>
        <button class="btn btn-raised btn-danger icon-trash" 
        (click)="apagar(categoria.id)"> Apagar</button>

      </td>
    </tr>
  </tbody>
</table>