<div class="row m-0">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <h4 class="card-title"></h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
<div class="row m-0">
  <div class="col-12">
    <!-- Simple Card-->
    <div id="simple-card" class="card">
      <div class="card-header">
        <h4 class="card-title">Simple Card</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <h5>HTML Ipsum Presents</h5>
            <p><strong></strong> <em></em> <code></code>, 
              </p>
            <h6>Header Level 2</h6>

            <ol>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>

            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet
                congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis
                mollis, tellus est malesuada
                tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
            </blockquote>

            <h3>Header Level 3</h3>

            <ul>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>

            <dl>
              <dt>Definition list</dt>
              <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</dd>
              <dt>Lorem ipsum dolor sit amet</dt>
              <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <!--/ Simple Card-->
  </div>
</div>
