<h3 class="text-center">Editar Estoque</h3>

<div class="row">
  <div class="form-group col-6">
    <label for="campo-empresa">Empresa</label>
    <input type="text" id="estoque-empresa" class="form-control" [(ngModel)]="estoque.empresaId">
  </div>

  <div class="form-group col-6">
    <label for="campo-produto">Produto</label>
    <input type="text" id="estoque-produto" class="form-control" [(ngModel)]="estoque.produtoId">
  </div>
</div>

<div class="row">
  <div class="form-group col-6">
    <label for="campo-quantidade ">Quantidade </label>
    <input type="number" class="form-control" id="estoque-quantidade" [(ngModel)]="estoque.quantidade">
  </div>
  
  <div class="form-group col-6">
    <label for="campo-data">Data de Entrada</label>
    <input type="date" class="form-control" id="estoque.data-entrada" [(ngModel)]="estoque.dataEntrada">
  </div>
</div>

  <div class="form-group col-3 mt-3">
    <label class="pull-left mr-2">Entrada </label>
    <input type="checkbox" class="custom-control pull-left" id="estoque-tipo" [(ngModel)]="estoque.entrada">
  </div>

<button class="btn btn-raised btn-danger pull-right icon-close" (click)="cancelar()">Cancelar</button>
<button class="btn btn-raised btn-success pull-right mr-2" (click)="alterar(estoque)">Salvar</button>