<div class="form-group">

  <div class="row">
    <div class="col-6">
      <label for="campo-empresa">Empresa<small class="text-danger"> *</small></label>
      <ng-select [items]="empresas" bindLabel="nome" bindValue="id" placeholder="Selecione" [(ngModel)]="estoque.empresaId"
        (open)="obterTodosEmpresa()" (change)="selecionadoEmpresa($event)">
      </ng-select>
    </div>

    <div class="col-6">
        <label >Produto<small class="text-danger"> *</small></label>
        <ng-select [items]="produtos" bindLabel="nome" bindValue="id" placeholder="Selecione" [(ngModel)]="estoque.produtoId"
          (open)="obterTodosProduto()" (change)="selecionadoProduto($event)">
        </ng-select>
    </div>

    <div class="col-6">
        <label for="campo-tipo">Entrada/Saida<small class="text-danger"> *</small></label>
        <select class="form-control" placeholder="Selecione" [(ngModel)]="estoque.entrada">
          <option value="Entrada" class="form-control">Entrada</option>
          <option value="Saída" class="form-control" >Saída</option>
        </select>
    	  <!--<input type="" class="form-control" [(ngModel)]="estoque.entrada">-->
    </div>

    <div class="col-6">
        <label for="campo-quantidade" >Quantidade<small class="text-danger"> *</small></label>
        <input type="number" class="form-control" [(ngModel)]="estoque.quantidade" required>
    </div>

</div>




</div>

<div class="row pull-right">
<button class="btn btn-raised btn-danger pull-right icon-close mr-2" (click)="cancelar()"> Cancelar</button>
<button class="btn btn-raised btn-success pull-right ft-save" (click)="salvar()"> Salvar</button>
</div>