<div class="form-group">

  <div class="row">
    <div class="col-6">
      <label for="campo-empresa">Empresa</label>
      <ng-select [items]="empresas" bindLabel="nome" bindValue="id" placeholder="Selecione" [(ngModel)]="IdEmpresa"
        (open)="obterTodosEmpresa()" (change)="selecionadoEmpresa($event)">
      </ng-select>
    </div>
    
    <div class="col-6">
        <label >Produto</label>
        <ng-select [items]="produtos" bindLabel="nome" bindValue="id" placeholder="Selecione" [(ngModel)]="IdProduto"
          (open)="obterTodosProduto()" (change)="selecionadoProduto($event)" aria-required="Produto">
        </ng-select>
    </div>

    <div class="col-6">
        <label for="campo-tipo">Entrada/Saida</label>
        <select class="form-control" placeholder="Selecione">
          <option value="Entrada" class="form-control">Entrada</option>
          <option value="Saída" class="form-control" [(ngModel)]="estoque.entrada">Saída</option>
        </select>
    	  <!--<input type="" class="form-control" [(ngModel)]="estoque.entrada">-->
    </div>

    <div class="col-6">
        <label for="campo-quantidade" >Quantidade</label>
        <input type="number" class="form-control" [(ngModel)]="estoque.quantidade" required>
    </div>
      
</div>
    



</div>
<button class="btn btn-raised btn-danger pull-right icon-close" (click)="cancelar()">Cancelar</button>
<button class="btn btn-raised btn-success pull-right mr-2" (click)="salvar()">Salvar</button>