<div class="form-group">

    <label for="campo-empresa">Empresa</label>
    <input class="form-control" name="nome-empresa" [(ngModel)]="estoque.empresa">

    <label for="campo-nome">Produto</label>
    <input class="form-control" name="nome-produto" [(ngModel)]="estoque.produto">

    <label for="campo-tipo">Tipo</label>
    <input type="" class="form-control" [(ngModel)]="estoque.tipo">

    <label for="campo-quantidade">Quantidade</label>
    <input type="number" class="form-control" [(ngModel)]="estoque.quantidade">

    <label for="campo-data">Data de Entrada</label>
    <input type="date" class="form-control" [(ngModel)]="estoque.data_entrada">

  </div> 
  <button class="btn btn-raised btn-danger pull-right icon-close" (click)="cancelar()">Cancelar</button>
  <button class="btn btn-raised btn-success pull-right mr-2" (click)="salvar()">Salvar</button>

  