<div class="row">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card ">
      <div class="card-header">
        <h4 class="card-title"></h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="card-text">
            <table>
              <p><span class=""></span></p>
              <p>Lista de Estoque = <a class="btn btn-raised btn-primary mt-2" routerLink="/estoque">Estoque</a>

                <p><span class="text"></span></p>
                <p>Lista de Categoria = <a class="btn btn-raised btn-primary mt-2" routerLink="/categoria">Categoria</a>

                  <p><span class="text"></span></p>
                  <p>Lista de Produtos = <a class="btn btn-raised btn-primary mt-2" routerLink="/produto">Produtos</a>
            </table>
            
          </div>
        </div>
                
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>